
  .register-card {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center; 
    animation: fadeIn 1s ease-in-out;
    border-radius: 3px; 
    border: none;
    border: 1px solid #777;
}

.register-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
}

.register-card input {
    align-items: center;
    width: 100%;
    height: 65%;
    /* padding: 12px; */
    margin: 6px 0;
    font-size: 14px;
}

.register-card .register-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    border-radius: 30px; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #1F4E7A;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-card .register-btn:hover {
    transform: scale(1.05);
}

.register-card input:focus {
    
    box-shadow: 0 0 5px rgba(2, 117, 216, 0.3);
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.success-message {
  color: green;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
