

   <div class="manage-users-container">
    <app-search-users (onSearchResults)="handleSearchResults($event)"></app-search-users>
  
    <div *ngIf="isLoading" class="loading-spinner">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  
    <div *ngIf="!isLoading && filteredUsers.length === 0" class="empty-list">
      <p>Nessun utente trovato.</p>
    </div>
  
    <div class="users-list">
      <app-user-card
        *ngFor="let user of filteredUsers"
        [user]="user"
        (onBan)="handleBan($event)"
        (onUnban)="handleUnban($event)"
        (onPromote)="handlePromote($event)"
      ></app-user-card>
    </div>
  </div>
  