/* Stile generale per la card */
.change-password-form-card {
  width: 300px; /* Card più sottile */
  margin: 45px; /* Centrata */
  padding: 16px;
  border: 1px solid #ccc; /* Bordo sottile */
  border-radius: 0; /* Bordo non arrotondato */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leggera ombra */
  text-align: center;
  align-items: center;
  }
  
  mat-card-title {
    text-align: center; /* Centrato */
    font-size: 20px; /* Dimensione maggiore */
    font-weight: bold;
    margin-bottom: 16px; /* Spazio sotto il titolo */
    color: #1F4E7A; /* Colore blu uniforme */
  }
  
  /* Campi del form */
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  /* Pulsante di invio */
  button {
    width: 100%;
    margin-top: 16px;
  }
  
  /* Messaggi di errore */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 8px;
  }
  