


  
  .home {
    position: absolute;
    width: 100%;
    height: 100%; /* Altezza completa dello schermo */
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  
  
  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* position: relative; */
    overflow: hidden;
    background-color: #212529;
    
     
  }
  
  .carousel img {
    width: 100%; /* Riempie la larghezza del contenitore */
    height: 100%; /* Riempie l'altezza del contenitore */
    object-fit: contain;
    object-position: center;
    transform: scale(0.65); 
    
        
}



  
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.carousel .carousel-control-prev {
  left: 10px;
}

.carousel .carousel-control-next {
  right: 10px;
}

/* Icone dei pulsanti */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; /* Assicurati che lo sfondo sia trasparente */
}
  
 /* Contenitore dei Pulsanti */
.home-buttons {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra orizzontalmente */
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px; /* Spazio tra i pulsanti */
    z-index: 2; /* Sopra la carousel */
  }
  
  .home-buttons .btn {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
 
  
 
  
 
   