.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.register-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    animation: fadeIn 1s ease-in-out;
    border: 1px solid #777;
}

.register-form h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
}

.register-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 16px;
}

.register-form .register-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    border-radius: 30px; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-form .register-btn:hover {
    background-color: #025aa5;
    transform: scale(1.05);
}

.register-form input:focus {
    border-color: #0275d8;
    box-shadow: 0 0 5px rgba(2, 117, 216, 0.3);
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}