
  
 
 


/* Navbar generale */
.custom-navbar {
  padding: 8px 16px; /* Margini interni della navbar */
  display: flex;
  justify-content: space-between; /* Spazia gli elementi orizzontalmente */
  align-items: center; /* Centra verticalmente */
}

/* Logo e Brand */
.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

/* Sezione dei link di navigazione */
.navbar-nav {
  display: flex;
  gap: 15px; /* Spaziatura tra i link */
  margin-right: auto; /* Spinge i link verso sinistra */
}

.nav-item {
  position: relative;
}

.nav-link {
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Effetto hover sui link della navbar */
.nav-link:hover {
  text-decoration: underline;
  background-color: #495057; /* Sottolinea durante l'hover */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Bottone Logout */
.logout-btn {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
  margin-left: auto; /* Spinge il pulsante a destra */
}

.logout-btn:hover {
  transform: scale(1.05); /* Leggero effetto di zoom */
}

/* Icona Impostazioni */
.settings-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}

/* Effetto hover sull'icona impostazioni */
.settings-icon:hover {
  transform: rotate(15deg); /* Rotazione durante l'hover */
}
