.post-card {
  border: 1px solid #ffffff;
  max-width: 800px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 20px auto;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.post-header {
  padding: 15px;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
}

.post-image-container {
  position: relative;
  width: 100%;
  padding-top: 75%;
  background: #000;
}

.post-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-footer {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px; /* Spaziatura uniforme tra i bottoni */
}

.like-button,
.comment-button,
.delete-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 14px;
  gap: 5px; /* Spazio tra l'icona e il testo */
  transition: color 0.2s ease;
}

/* Colore al passaggio del mouse */
.like-button:hover,
.comment-button:hover,
.delete-button:hover {
  color: #000;
}

/* Specifico per il bottone delete */
.delete-button {
  color: #d32f2f; /* Colore di avviso */
}

.delete-button:hover {
  color: #b71c1c; /* Colore più scuro al passaggio del mouse */
}

.delete-button mat-icon {
  display : block;
}

.delete-button .delete-text {
  font-size: 14px;
  display: none; /* Sempre visibile */
  margin-left: 35px; /* Spaziatura tra l'icona e il testo */
}


/* Stile per i bottoni like e comment */
.like-button mat-icon {
  color: red;
}

.comment-button mat-icon {
  color: #555;
}

.mat-snack-bar-container {
  background-color: #323232;
  color: white;
  font-size: 14px;
}
